{% extends 'components/layout.html' %}

{% block title %}
    Delete Venue - TicketShow
{% endblock %}

{% block content %}
    <h1 class="display-1">Delete Venue</h1>
    <hr>
    <form action="" method="POST">
        <h2>Are you sure you want to delete the venue with following details?</h2>
        {% include "components/venue/form.html" %}
        <hr>
        {% include 'components/venue/showlist.html'   %}
        <input type="submit" class="btn btn-danger my-3" value="Delete">
        <a class="btn btn-outline-danger" href="{{url_for('admin')}}">Cancel</a>
    </form>

{% endblock %}

{% block style %}
    
{% endblock %}