{{ form.hidden_tag() }}
<div class="form-group">
    {{form.name.label(class="col-form-label")}}
    {{ form.name(class="form-control", readonly=form_fields_readonly) }}
</div>
<div class="form-group">
    {{form.address.label(class="col-form-label")}}
    {{ form.address(class="form-control", readonly=form_fields_readonly) }}
</div>
<div class="form-group">
    <!-- make input uppercase -->
    {{form.city.label(class="col-form-label")}}
    {{ form.city(class="form-control", style="text-transform: uppercase", readonly=form_fields_readonly) }}
</div>
<div class="form-group">
    {{form.capacity.label(class="col-form-label")}}
    {{ form.capacity(class="form-control", readonly=form_fields_readonly) }}
</div>