
{% extends "components/layout.html" %}

{% block title %}
    Admin Panel - TicketShow
{% endblock %}

{% block content %}
    <h1 class="display-1">Admin Panel</h1>
    <h2 class="text-muted">Welcome {{current_user.name}} <span class="text-muted small">(@{{current_user.username}})</span></h2>
    <hr>
    <h1>Venues:</h1>
    <h2 class="text-center mt-5"><a href="{{url_for('add_venue')}}" class="btn btn-primary">
        <i class="fas fa-plus    "></i>
        Add a venue
    </a></h2>
    {% if venues | length %}
        <div class="cards d-flex align-items-center flex-column">
        {% for venue in venues %}
            {% include "components/venue/card.html" %}
        {% endfor %}
        </div>
    {% else %}
        <h2 class="text-center mt-5">No venues yet :(</h2>
    {% endif %}

{% endblock content %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}">
{% endblock %}