{% extends "components/layout.html" %}

{% block title %}
    {{ usertype }} Change Password - TicketShow
{% endblock %}

{% block content %}
    <h1 class="display-1">{{ usertype }} Change Password</h1>
    <hr>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{form.password.label(class="col-form-label")}}
            {{ form.password(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.confirm_password.label(class="col-form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <input type="submit" class="btn btn-primary" value="Change">
    </form>

{% endblock content %}

{% block style %}
{% endblock %}