{% macro nav_link(endpoint, text) %}
  <a href=" nav-link {% if request.path == url_for(endpoint) %}active{% endif %}" href="{{url_for(endpoint)}}">{{text}}</a>
{% endmacro %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TicketShow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if current_user.is_authenticated %}
          {{ nav_link('home', 'Home') }}
          {{ nav_link('search', 'Search') }}
          {{ nav_link('profile', 'Profile') }}
          {{ nav_link('logout', 'Logout') }}
        {% else %}
          {{ nav_link('login', 'User Login') }}
          {{ nav_link('register', 'User Register') }}
          {{ nav_link('adminlogin', 'Admin Login') }}
        {% endif %}
      </div>
    </div>
  </div>
</nav>