{% extends 'components/layout.html' %}
{% block title %}
    Profile - {{user.username}}
{% endblock title %}

{% block content %}
    <h1 class="display-1">Profile</h1>
    <!-- profile card -->
    <div class="profile">
        <img src="https://api.dicebear.com/6.x/lorelei/svg?seed={{user.username}}" alt="profile photo" class="profile_photo_img">
        <h2 class="">{{user.name}} <div class="text-muted small">(@{{user.username}})</div></h2>
    </div>
    <div class="action-buttons text-center">
        <a href="{{url_for('edit_profile')}}" class="btn btn-primary">
            <i class="fas fa-edit    "></i>
            Edit Profile</a>
    </div>
{% endblock content %}

{% block style %}
    {{super()}}
    <style>
        .profile{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
        @media (max-width: 768px) {
            .profile {
                flex-direction: column;
            }
        }
        .profile h2 {
            margin: 0 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .profile_photo_img {
            width: 150px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 1px solid #000;
        }
    </style>
{% endblock style %}