{% macro nav_link(endpoint, text) %}
  <a class=" nav-link {% if request.path == url_for(endpoint) %}active{% endif %}" href="{{url_for(endpoint)}}">{{text}}</a>
{% endmacro %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TicketShow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if current_user.is_authenticated %}
          {% if current_user.is_admin %}
            {{ nav_link('admin', 'Home') }}
            {{ nav_link('admin_register', 'Register') }}
            {{ nav_link('analytics', 'Analytics') }}
          {% else %}
            {{ nav_link('index', 'Home') }}
            {{ nav_link('bookings', 'Bookings') }}
          {% endif %}
          {{ nav_link('profile', 'Profile') }}
          {{ nav_link('logout', 'Logout') }}
        {% else %}
          {{ nav_link('login', 'Login') }}
          {{ nav_link('register', 'Register') }}
        {% endif %}
      </div>
    </div>
  </div>
</nav>