{% extends "components/layout.html" %}

{% block title %}
    {{ usertype }} Register - TicketShow
{% endblock %}

{% block content %}
    <h1 class="display-1">{{ usertype }} Register</h1>
    <hr>
    <!-- Register Form -->
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            {{form.username.label(class="input-group-text")}}
            {{ form.username(class="form-control") }}
        </div>

        <div class="input-group mb-3">
            {{form.password.label(class="input-group-text")}}
            {{ form.password(class="form-control") }}
        </div>

        <div class="input-group mb-3">
            {{form.confirm_password.label(class="input-group-text")}}
            {{ form.confirm_password(class="form-control") }}
        </div>

        <div class="input-group mb-3">
            {{ form.name.label(class="input-group-text") }}
            {{ form.name(class="form-control") }}
        </div>
        <input type="submit" class="btn btn-primary" value="Register">
    </form>

{% endblock content %}

{% block style %}
{% endblock %}